{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content %}
<html>
    <head>
        <title>Note Creation</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>

<body>
    <form method="POST" id="noteForm">
    <h1 align='center'>All your notes here!</h1>

    <div align='center' class="form-group">
            <label for="note">Enter your notes here</label>
            <p>
                <textarea name="note_html" id="note_html" class="form-control"></textarea>
            </p>
            <br />
            <button type="submit" class="btn btn-primary" >Add Note</button>
    </div>
    </form>

    <div class="notes-container">
        <ul class="notes-list">
            {% for note in all_notes %}
            <li class="note collapsed" onclick="toggleNoteExpand(this)">
                <p>{{ note.note_html }}</p> 
                <form action="{{ url_for('views.delete', id=note._id) }}" method="POST" style="display:inline;" onsubmit="return confirmDelete(this)">
                    <button
                    type="submit"
                    class="btn btn-primary"
                    onclick="return confirm('Are you sure want to delete note?')">Delete</button>
                </form>
            </li>
            {% endfor %}
        </ul>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}" >
    </script>
</body>
</html>
{% endblock %}